body {
    font-family: sans-serif;
    background-color: lightgrey;
    background-image : url("https://hinduismglance.files.wordpress.com/2010/01/birds.jpg");
    margin-top: 75px;
}

.center {
    text-align: center;
    
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

